*

!.github/
!.github/**
!hooks/
!hooks/**
!.editorconfig
!.gitignore
!.npmrc
!build.config.ts
!eslint.config.ts
!license
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!readme.md
!tsconfig.json
!vitest.config.ts
