*

!.github/
!.github/**
!apps/
!apps/**
!hooks/
!hooks/**
!.editorconfig
!.gitignore
!.npmrc
!build.config.ts
!eslint.config.ts
!license
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!readme.md
!registry.json
!registry/
!registry/**
!tsconfig.json
!vitest.config.ts

**/node_modules/**
.next
.source
next-env.d.ts
